
.login-form{
    margin: auto;
    width: 420px;
}

.button-to-right {
    float: right;
}

md-input-container{
    height: 37px;
}


.manage-flex-container{
    display:flex;
    width: 80%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 0; 
}

md-nav-bar md-nav-ink-bar {
    background: blue;
    accentPalette:blue;
}      
.profile-flex-container{
    display:flex;
    width: 55%;
    margin: auto;
}
.navbar{
    width: 60%;
    margin:auto;
    margin-bottom: 10px;
}
.booking-dialog{
    min-width: 350px;
}

#ng_view{
	height: calc(100% - 52px - 10px);
}

#search_input{
	
	background-color: #fff;
	font-family: Roboto;
	font-size: 15px;
	font-weight: 300;
	margin-top: 10px;
	margin-left: 12px;
	padding: 0 11px 0 13px;
	text-overflow: ellipsis;
	width: 300px;
	
}

.user-edit-left{
    max-width: 450px;
}
.user-edit-right{
    max-width: 450px;
}
body {
    overflow:hidden;
}


.user-edit-right md-content {
    background-color: transparent !important; }
.user-edit-right md-content md-tabs {
    background: #fafafa;
    border: 2px solid #ebebeb; }
.user-edit-right md-content md-tabs md-tabs-wrapper {
    background: white; }
.user-edit-right md-content h1:first-child {
    margin-top: 0; }


.content{
    background: #fafafa;
    border: 0px solid #ebebeb;
    box-shadow: rgba(0,0,0,0.16) 0px 2px 2px 0px,rgba(0,0,0,0.09804) 0px 2px 2px 0px;
}

body {
    padding: 0;
    background: #eee;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}

/* Optional: Makes the page fill the google maps window. */
html, body {
    margin: 0;
    padding: 0;
    background: #eee;
}

/* Always set the map height explicitly to define the size of the div
* element that contains the map. */

/* Custom page header */
.header {
    border-bottom: 1px solid #ebebeb;
    margin-bottom: 2px;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
}

/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
    margin: 30px 0;
}




/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .booking-map{
        width: 100%; 
        height:650px;
    }
    .container {
        max-width: 850px;
    }

    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }
    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }
    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}
