<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>e-Cruise UserSite</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
		<link rel="icon" href="favicon.png"/>
		<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        <!-- build:css(.) styles/vendor.css -->
        <!-- bower:css -->
        <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="bower_components/angular-material/angular-material.css" />
        <!-- endbower -->
        <!-- endbuild -->
        <!-- build:css(.tmp) styles/main.css -->
		<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"/>
        <link rel="stylesheet" href="styles/main.css">
        <!-- endbuild -->
        <style>

        </style>
    </head>

    <body ng-app="webApp">
        <base href="/index.html">
        <div id="mainCtrl" ng-controller="Ctrl_Main" ng-cloak ng-switch on="loggedIN">
            <!-- HEAD LINE START -->
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false"></button>
                        <a class="navbar-brand" href="start">e-Cruise</a>
                    </div>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        
						<ul class="nav navbar-nav" ng-switch-when="true">
                            <li><a href="booking" name="booking"> Buchen </a></li>
                            <li><a href="manage" name="manage"> Verwalten </a></li>
                            <li><a href="profile" name="profile"> Profil bearbeiten </a></li>
                        </ul>
						
                        <div ng-switch-when="false">
                            <ul class="nav navbar-nav navbar-right" >
                                <li ng-click="showRegister()"><a><span class="glyphicon glyphicon-user"></span> Registrieren </a></li>
                                <li ng-click="showLogin()"><a><span class="glyphicon glyphicon-log-in"></span> Login </a></li>
                            </ul>
                        </div>
						
                        <div ng-switch-when="true" >
                            <ul class="nav navbar-nav navbar-right" ng-click="Logout()"><li><a><span class="glyphicon glyphicon-log-out"></span> Log out</a></li></ul>
                        </div>
						
                    </div><!-- /.navbar-collapse -->
                </div><!-- /.container-fluid -->
            </nav>
            <!-- HEAD LINE END -->
        </div>
        <div ng-view id="ng_view"></div>

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
        <script>
		/*
            !function(A,n,g,u,l,a,r){A.GoogleAnalyticsObject=l,A[l]=A[l]||function(){
                (A[l].q=A[l].q||[]).push(arguments)},A[l].l=+new Date,a=n.createElement(g),
                r=n.getElementsByTagName(g)[0],a.src=u,r.parentNode.insertBefore(a,r)
                                    }(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-XXXXX-X');
            ga('send', 'pageview');
			*/
		</script>


        <script async defer
                src="https://maps.googleapis.com/maps/api/js?v=3&key=AIzaSyBCbY_MjWJ1cDjugF_MBHwnYDWFNJYAa4o&libraries=places">
        </script>

        <!-- build:js(.) scripts/vendor.js -->
        <!-- bower:js -->
        <script src="bower_components/jquery/dist/jquery.js"></script>
        <script src="bower_components/angular/angular.js"></script>
        <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
        <script src="bower_components/angular-animate/angular-animate.js"></script>
        <script src="bower_components/angular-aria/angular-aria.js"></script>
        <script src="bower_components/angular-cookies/angular-cookies.js"></script>
        <script src="bower_components/angular-messages/angular-messages.js"></script>
        <script src="bower_components/angular-resource/angular-resource.js"></script>
        <script src="bower_components/angular-route/angular-route.js"></script>
        <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
        <script src="bower_components/angular-touch/angular-touch.js"></script>
        <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
        <script src="bower_components/angular-material/angular-material.js"></script>
        <script src="bower_components/ngmap/build/scripts/ng-map.js"></script>
        <!-- endbower -->
        <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/app.js"></script>
        <script src="scripts/controllers/main.js"></script>
        <script src="scripts/controllers/loginRegister.js"></script>
        <script src="scripts/controllers/booking.js"></script>
        <script src="scripts/controllers/manage.js"></script>
        <script src="scripts/controllers/booking.js"></script>
        <script src="scripts/controllers/profile.js"></script>
        <script src="scripts/controllers/start.js"></script>
        <script src="styles/design.js"></script>
        <!-- endbuild -->
    </body>
</html>