<!doctype html>
<html>
  <head>
      <meta charset="utf-8">
      <title>E-Cruise UserSite</title>
      <meta name="description" content="">
      <meta name="viewport" content="width=device-width">    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
      <!-- build:css(.) styles/vendor.css -->
      <!-- bower:css -->
      <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
      <link rel="stylesheet" href="bower_components/angular-material/angular-material.css" />
      <!-- endbower -->
      <!-- endbuild -->
      <!-- build:css(.tmp) styles/main.css -->
      <link rel="stylesheet" href="styles/main.css">
      <!-- endbuild -->
      <style>

      </style>
    </head>
    
    
	
	<body ng-app="webApp">

		<div ng-controller="Ctrl_Main" ng-cloak ng-switch on="loggedIN">
			
			<!-- LOGIN / REGISTER START -->
			<div ng-switch-when="false">

				<div ng-controller="Ctrl_Login_Register">
				
					<!-- HEAD LINE START -->
					<div class="header navbar" layout-align="center" layout="row" >
						<md-content class="md-padding" >
							<md-nav-bar md-selected-nav-item="currentNavItem" nav-bar-aria-label="navigation links" >
								<md-nav-item md-nav-click="ChangeView('login')"  name="manage" >Login</md-nav-item>
								<md-nav-item md-nav-click="ChangeView('register')" name="profile" >Registrieren</md-nav-item>
							</md-nav-bar>
						</md-content>
					</div>
					<!-- HEAD LINE END -->
					
					
					<div ng-switch on="loginORregister">
					
						<!-- LOGIN START -->
						<div ng-switch-when="login" class="login-form content">
						
								<md-toolbar class="md-hue-2">
									<div class="md-toolbar-tools">
										<h2 class="md-flex toolbar-text">Please login</h2>							
									</div>
								</md-toolbar>
								<md-content layout-padding>	
									<md-input-container>
										<input placeholder="E-Mail" type="" ng-model="$parent.login.email"/>    <!-- required spaeter hinzufuegen-->
									</md-input-container>
									
									<md-input-container>
										<input placeholder="Passwort" type="password" ng-model="$parent.login.password" />  <!-- required -->
									</md-input-container>

								</md-content>
								<md-content flex layout-padding>
									<md-button class="md-raised md-primary button-to-right" ng-click="Login()"> Login </md-button>
								</md-content>
						</div>
						<!-- LOGIN END -->
						
						<!-- REGISTER START -->
						<div ng-switch-when="register">
						
						</div>
						<!-- REGISTER END -->
					
					</div>
					
				</div>
				
			</div>
			<!-- LOGIN / REGISTER END -->
			
		
			<!-- NORMAL SITE START -->
			<div ng-switch-when="true">

				<!-- HEAD LINE START -->
				<div class="header navbar" layout-align="center" layout="row">
				  <md-content class="md-padding" >
					<md-nav-bar md-selected-nav-item="currentNavItem" nav-bar-aria-label="navigation links">
					  <md-nav-item md-nav-click="ChangeView('booking')" name="booking">Buchen</md-nav-item >
					  <md-nav-item md-nav-click="ChangeView('manage')"  name="manage" >verwalten</md-nav-item>
					  <md-nav-item md-nav-click="ChangeView('profile')" name="profile" >Profil bearbeiten</md-nav-item>
					</md-nav-bar>
				  </md-content>
				</div>
				<!-- HEAD LINE END -->
				
				<div class="container" ng-switch on="currentView">
					
					<!-- BOKKING START -->
					<div ng-switch-when="booking">
					
						<div ng-controller="Ctrl_Booking">
						
							<div style="width: 800px; height: 600px;" id='map' ></div>
							<!--
						  <div map-lazy-load="https://maps.google.com/maps/api/js"
							   map-lazy-load-params="{{googleMapsUrl}}">
							<ng-map id="gmap" center="49.5, 8.434" zoom="12">
							  <div ng-repeat="p in points">
								<marker position="{{ p.latitude }}, {{ p.longitude }}"></marker>
							  </div>
							</ng-map>
						  </div>
							-->
						</div>

					</div>
					<!-- BOKKING END -->

					<!-- MANAGE START -->
					<div ng-switch-when="manage">

						<div ng-controller="Ctrl_Manage">

							<table>

								<thead>
									<tr>
										<td>
											<md-toolbar class="md-hue-2">
												<div class="md-toolbar-tools">
													<h2 class="md-flex">Ausstehende Fahrten</h2>
												</div>
											</md-toolbar>
										</td>
										<td>
											<b style="margin-left: 25px;"></b>
										</td>
										<td>
											<md-toolbar class="md-hue-2">
												<div class="md-toolbar-tools">
													<h2 class="md-flex">Abgeschlossene Fahrten</h2>
												</div>
											</md-toolbar>
										</td>
										<td>
											<b style="margin-left: 25px;"></b>
										</td>
										<td>
											<md-toolbar class="md-hue-2">
												<div class="md-toolbar-tools">
													<h2 class="md-flex">Rechnung</h2>
												</div>
											</md-toolbar>
										</td>
									</tr>
								</thead>

								<!--
									
									für die Tabllen zum Auflisten:
									
									Ausstehende Fahrten
									
									//If it can be shown on map
									{{ open_bookings.state }}
									
									{{ open_bookings.start.date }}
									{{ open_bookings.start.time }}
									{{ open_bookings.start.address.number }}
									{{ open_bookings.start.address.street }}
									{{ open_bookings.start.address.zip }}
									{{ open_bookings.start.address.city }}
									
									{{ open_bookings.end.date }}
									{{ open_bookings.end.time }}
									{{ open_bookings.end.address.number }}
									{{ open_bookings.end.address.street }}
									{{ open_bookings.end.address.zip }}
									{{ open_bookings.end.address.city }}
									
									{{ open_bookings.vehicleID }}
									
									
									Abgeschlossene Fahrten
									
								-->

								<tr>
									<td>
										<table style="width: 300px;">
										
											<tr ng-repeat="booking in open_bookings track by $index">
												<td  ng-switch on="{{ booking.state }}">

													<md-content flex layout-padding class="md-block">	
										
														<label> Datum:  {{ booking.start.date }} </label>
														<br />
														<label> Fahrtbeginn:  {{ booking.start.time }} </label>
														<br />
														<label> Straße Nr.:  {{ booking.start.address.street }} {{ booking.start.address.number }}  </label>
														<label> PLZ:  {{ booking.start.address.zip }} </label>
														<label> Stadt: {{ booking.start.address.city }} </label>
														
														
														<label  ng-switch-when="true">
															<md-button class="md-raised md-primary" ng-click="Safe()"> Auf Karte anzeigen </md-button>

														</label>

													</md-content>

													<br />

												</td>
											</tr>
							
										</table>
									</td>
									<td></td>
									<td>
										<table style="width: 300px;">


											<tr ng-repeat="booking in finishedBookings track by $index">
												<td  ng-switch on="{{ booking.state }}">

													<md-content flex layout-padding class="md-block">	
										
														<label> Datum:  {{ booking.date }} </label>
														<br />
														<label> Fahrtbeginn:  {{ booking.startTime }} </label>
														<label> {{ booking.startPlace }} </label>
														<br />
														<label> Fahrtende:  {{ booking.endTime }} </label>
														<label> {{ booking.endPlace }} </label>
														<br />
														<md-button class="md-raised md-primary" ng-click="ShowBilling($index)">Rechnung anzeigen</md-button>


													</md-content>

													<br />

												</td>
											</tr>
							
										</table>
									</td>
									<td></td>
									<td>

										<table style="width: 300px;">
										
											<tr>
												<td>
													<md-content flex layout-padding class="md-block">	
										
														<label> Datum:  {{ currentBooking.date }} </label>
														<br />
														<label> Fahrtbeginn:  {{ currentBooking.startTime }} </label>
														<label> Startpunkt:  {{ currentBooking.startPlace }} </label>
														<br />
														<label> Fahrtende:  {{ currentBooking.endTime }} </label>
														<label> Endpunkt:  {{ currentBooking.endPlace }} </label>
														<br />
														<label> Preis: {{ currentBooking.billing }}</label>
														<label> Rechnung: {{ currentBooking.payed }}</label>

													</md-content>
												</td>
											</tr>
							
										</table>

									</td>

								</tr>
							</table>


						

								

						</div>

					</div>
					<!-- MANAGE END -->

					<!-- PROFILE START -->
					<div ng-switch-when="profile" class="profile-flex-container" >

						<div ng-controller="Ctrl_Profile" ng-cloak class="user-edit-left content">
							<md-toolbar class="md-hue-2">
								<div class="md-toolbar-tools">
									<h2 class="md-flex">Pers&ouml;nliche Daten</h2>
								</div>
							</md-toolbar>
							<md-content flex layout-padding class="">					
								<md-input-container class="md-block" flex-gt-xs>
									<label> Ihre Kundennummer:  {{ user.userID }} </label>
									<input disabled>
								</md-input-container>			
						
								<md-input-container>
									<label>Vorname</label>
									<input ng-model="user.name"/>
								</md-input-container>
						  
								<md-input-container>
									<label>Nachname</label>
									<input ng-model="user.familyName"/>
								</md-input-container>
							</md-content>
						  
							<md-content flex layout-padding>	
								<md-input-container>
									<label>Email</label>
									<input ng-model="user.email" type="email" />
								</md-input-container>
								<md-input-container>
									<label>Telefon</label>
									<input ng-model="user.phoneNr"/>
								</md-input-container>
							</md-content>
						
							<md-content flex layout-padding>	
								<md-input-container>
									<label>Strasse</label>
									<input ng-model="user.address.street" />
								</md-input-container>
								<md-input-container>
									<label>Hausnummer</label>
									<input ng-model="user.address.number" />
								</md-input-container>
							</md-content>
							<md-content flex layout-padding>	
								<md-input-container>
									<label>Land</label>
									<input ng-model="user.address.country" />
								</md-input-container>
								<md-input-container>
									<label>PLZ</label>
									<input ng-model="user.address.zip" />
								</md-input-container>
							</md-content>
							<!--TODO-->
							<md-content flex layout-padding>
								<md-input-container>
									<label>Stadt</label>
									<input ng-model="user.address.city" />
								<!--
									<md-select ng-model="user.address.state">
									  <md-option ng-repeat="state in states" value="{{user.address.state.abbrev}}">
										{{user.address.state.abbrev}}
									  </md-option>
									</md-select>
								-->
								</md-input-container>
							</md-content>
							
							<md-content flex layout-padding>
								<md-button class="md-raised md-warn" ng-click="Cancel()"> Verwerfen </md-button>
								<md-button class="md-raised md-primary" ng-click="Safe()"> Speichern </md-button>
							</md-content>
                        </div>

						<div class="user-edit-mid"></div>
						<div ng-controller="Ctrl_Profile"  ng-cloak class="user-edit-right content">
                        	<md-toolbar class="md-hue-2">
								<div class="md-toolbar-tools">
									<h2 class="md-flex">Passwort &auml;ndern</h2>
								</div>
							</md-toolbar>
							<md-content flex layout-padding>	
								<md-input-container>
									<input type="password" placeholder="Altes Passwort" ng-model="user.password.old" />
								</md-input-container>
							</md-content>
							<md-content flex layout-padding>	
								<md-input-container>
									<input type="password" placeholder="Neues Passwort" ng-model="user.password.new" />
								</md-input-container>
								<md-input-container>
                                    <input type="password" placeholder="Passwort bestätigen" ng-model="user.password.confirm" />
								</md-input-container>
							</md-content>
							<md-content flex layout-padding>
								<md-button class="md-raised md-primary" ng-click="ChangePassword()"> Passwort &auml;ndern </md-button>
							</md-content>
						</div>
						</div>
                        
					<!-- PROFILE END -->
					
				</div>
			</div>
			<!-- NORMAL SITE END -->
			
			
		</div>
	
	    <div class="container">
			<div ng-view=""></div>
		</div>
	
		<div class="footer">
			<div class="container">
				<p><span class="glyphicon glyphicon-heart"></span> from the E-Cruise Team</p>
			</div>
		</div>


		<!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
		<script>
			!function(A,n,g,u,l,a,r){A.GoogleAnalyticsObject=l,A[l]=A[l]||function(){
				(A[l].q=A[l].q||[]).push(arguments)},A[l].l=+new Date,a=n.createElement(g),
				r=n.getElementsByTagName(g)[0],a.src=u,r.parentNode.insertBefore(a,r)
			}(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

			ga('create', 'UA-XXXXX-X');
			ga('send', 'pageview');
		</script>

		<script async defer
			src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBCbY_MjWJ1cDjugF_MBHwnYDWFNJYAa4o">
		</script>
		
		<!-- build:js(.) scripts/vendor.js -->
		<!-- bower:js -->
		<script src="bower_components/jquery/dist/jquery.js"></script>
		<script src="bower_components/angular/angular.js"></script>
		<script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
		<script src="bower_components/angular-animate/angular-animate.js"></script>
		<script src="bower_components/angular-aria/angular-aria.js"></script>
		<script src="bower_components/angular-cookies/angular-cookies.js"></script>
		<script src="bower_components/angular-messages/angular-messages.js"></script>
		<script src="bower_components/angular-resource/angular-resource.js"></script>
		<script src="bower_components/angular-route/angular-route.js"></script>
		<script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
		<script src="bower_components/angular-touch/angular-touch.js"></script>
		<script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
		<script src="bower_components/angular-material/angular-material.js"></script>
		<script src="bower_components/ngmap/build/scripts/ng-map.js"></script>
		<!-- endbower -->
		<!-- endbuild -->

		<!-- build:js({.tmp,app}) scripts/scripts.js -->
		<script src="scripts/app.js"></script>
		<script src="scripts/controllers/main.js"></script>
		<script src="scripts/controllers/about.js"></script>
		<script src="scripts/controllers/design.js"></script>
		<!-- endbuild -->
	</body>
</html>
