<div class="header navbar" layout-align="center" layout="row">
	<md-content class="md-padding" >
		<md-nav-bar  nav-bar-aria-label="navigation links" layout-align="center center">
			<md-nav-item md-nav-href="login" name="manage" >Login</md-nav-item>
			<md-nav-item md-nav-href="register" name="profile" >Registrieren</md-nav-item>
		</md-nav-bar>
	</md-content>
</div>

<div class="login-form content">
	<md-toolbar class="md-hue-2">
		<div class="md-toolbar-tools">
         		<h2 class="md-flex toolbar-text">Please login</h2>							
                </div>
	</md-toolbar>
                            
	<md-content layout-padding>
		<md-input-container>
			<input placeholder="E-Mail" type="" ng-model="login.email"/>    <!-- required spaeter hinzufuegen-->
		</md-input-container>
		
		<md-input-container>
			<input placeholder="Passwort" type="password" ng-model="login.password" />  <!-- required -->
		</md-input-container>
	</md-content>
	
	<md-content flex layout-padding>
		<md-button class="md-raised md-primary button-to-right" ng-click="Login()"> Login </md-button>
	</md-content>
</div>
