<div ng-cloak layout-gt-sm="row" layout="column" class="manage-flex-container" ng-controller="Ctrl_Manage">

    <div flex-gt-sm="25" flex class="content">
        <md-toolbar class="md-hue-2">
            <div class="md-toolbar-tools">
                <h2 class="md-flex">Ausstehende Fahrten</h2>
            </div>
        </md-toolbar>
        <md-content>
            <md-list flex>
                <!--  <md-subheader class="md-no-sticky"></md-subheader> -->
                <md-list-item class="md-3-line" ng-repeat="booking in open_bookings track by $index" ng-click="ShowOnMap($index)">
                    <div class="md-list-item-text" layout="column" ng-switch on="{{ booking.state }}">
                        <h3>{{ booking.start.date }}  ab {{ booking.start.time }}</h3>
                        <h4>Stra&szlig;e Nr.: {{ booking.start.address.street }} {{ booking.start.address.number }} </h4>
                        <p>PLZ:  {{ booking.start.address.zip }}</p>
                        <p>Stadt: {{ booking.start.address.city }}</p>

                        <!-- Icon das über ng-switch-when="true" angezeigt wird (Fahrzeug schon verfügbar) -->

                    </div>
                    <md-divider ></md-divider>
                </md-list-item>
            </md-list>
        </md-content>
    </div>

    <div flex-gt-sm="3" flex></div>

    <div flex-gt-sm="25" flex class="content">
        <md-toolbar class="md-hue-2">
            <div class="md-toolbar-tools">
                <h2 class="md-flex">Abgeschlossene Fahrten</h2>
            </div>
        </md-toolbar>
        <md-content>
            <md-list flex>
                <md-list-item class="md-3-line" ng-repeat="booking in done_bookings track by $index" ng-click="ShowBilling(booking.bookingID)">
                    
                    <i class="material-icons md-avatar" style="color: #00ff00">done</i>
                    <i ng-switch-when="false" class="material-icons md-avatar" style="color: #aa0000; font-size:40dp;">report_problem</i>              
                    <div class="md-list-item-text" layout="column" ng-switch="booking.invoice.paid" >

                        <h4>Start {{ booking.start.date }} um {{ booking.start.time }} </h4>
                        <p>von Stra&szlig;e : {{ booking.start.address.street }} {{ booking.start.address.number }}</p>
                        <h4>Ende {{ booking.end.date }} um {{ booking.end.time }} </h4>
                        <p>bis Stra&szlig;e Nr.: {{ booking.end.address.street }} {{ booking.end.address.number }}</p>

                        <p ng-switch-when="true" style="background: #00ff00">Rechnung: bezahlt</p>
                        <p ng-switch-when="false" style="background: #aa0000">Rechnung: nicht bezahlt</p>

                        <!-- Feld oder Button in grün/rot der über ng-switch-when="true/false" dargestellt wird (Rechnung bezahl oder nicht) -->

                        <!--
                        <h3>{{ booking.start.date }} </h3>
                        <h4>Fahrtbeginn:  {{ booking.start.time }}  {{ booking.start.address.street }}</h4>
                        <h4>Fahrtende:  {{ booking.endTime }}  {{ booking.endPlace }}</h4>
                        -->
                    </div>
                    <md-divider ></md-divider>
                </md-list-item>
            </md-list>
        </md-content>
    </div>

    <div flex-gt-sm="3" flex></div>

    <div flex-gt-sm="45" flex class="content">
        <md-toolbar class="md-hue-2">
            <div class="md-toolbar-tools">
                <h2 class="md-flex">Rechnung</h2>
            </div>
        </md-toolbar>

        <div class="md-list-item-text" layout="column">
            <md-content flex layout-padding class="md-block">
                <label> Datum:  {{currentBill.start.date }} RechnungsID: {{ currentBill.invoice.invoiceID }}</label>
                <br />
                <label> Fahrtbeginn am {{currentBill.start.date }} um {{currentBill.start.time }} </label>
                <label> Startpunkt:  {{currentBill.start.address.street }} {{currentBill.start.address.number }} </label>
                <br />
                <label> Fahrtende am {{currentBill.end.date }} um {{currentBill.end.time }} </label>
                <label> Endpunkt:  {{currentBill.end.address.street }} {{currentBill.end.address.number }} </label>
                <br />
                <label> Preis: {{currentBill.invoice.totalAmount}}</label>
                <label> Rechnung: {{ currentBill.invoice.paid }}</label>
                <br />
                <md-list flex>
                    <md-list-item class="md-3-line" ng-repeat="item in currentBill.items track by $index">
                        <div class="md-list-item-text" layout="column">
                            <h4>Preis: {{item.Amount }}</h4>
                            <p>Grund: {{ item.Reason }}</p>
                        </div>
                        <md-divider ></md-divider>
                    </md-list-item>
                </md-list>
            </md-content>
        </div>
    </div>
</div>
