<!-- PROFILE START -->
<div class="user-edit" ng-controller="Ctrl_Profile" >
    <div class="profile-flex-container" >
        <div ng-cloak class="user-edit-left content">
            <md-toolbar class="md-hue-2">
                <div class="md-toolbar-tools">
                    <h2 class="md-flex">Pers&ouml;nliche Daten</h2>
                </div>
            </md-toolbar>

            <md-content flex layout-padding class="">
                <md-input-container class="md-block" flex-gt-xs>
                    <label> Ihre Kundennummer: {{ user.userID }} </label>
                    <input disabled>
                </md-input-container>			

                <md-input-container>
                    <label>Vorname</label>
                    <input ng-model="user.name"/>
                </md-input-container>

                <md-input-container>
                    <label>Nachname</label>
                    <input ng-model="user.familyName"/>
                </md-input-container>
            </md-content>

            <md-content flex layout-padding>
                <md-input-container>
                    <input placeholder="Telefon" ng-model="user.phoneNr"/>
                </md-input-container>
                <md-input-container>
                    <input placeholder="Land" ng-model="user.address.country" />
                </md-input-container>
            </md-content>
            
			<md-content flex layout-padding>
                <md-input-container>
                    <input placeholder="Stadt" ng-model="user.address.city" />
                </md-input-container>
				<md-input-container>
                    <input placeholder="PLZ" ng-model="user.address.zip" />
                </md-input-container>
            </md-content>
			
            <md-content flex layout-padding>	
                <md-input-container>
                    <input placeholder="Strasse" ng-model="user.address.street" />
                </md-input-container>
                <md-input-container>
                    <input placeholder="Hausnummer" ng-model="user.address.number" />
                </md-input-container>
			</md-content>
			
			<md-content flex layout-padding>
                <md-input-container>
                    <input placeholder="Zusatz" ng-model="user.address.extra" />
                </md-input-container>
            </md-content>

                <!--
<md-select ng-model="user.address.state">
<md-option ng-repeat="state in states" value="{{user.address.state.abbrev}}">
{{user.address.state.abbrev}}
</md-option>
</md-select>
-->
			<md-content flex layout-padding>
                <md-button class="md-raised md-primary button-to-right" ng-click="Safe()"> Speichern </md-button>
                <md-button class="md-accent button-to-right" ng-click="Cancel()"> Verwerfen </md-button>
            </md-content>
        </div>

        <div class="user-edit-mid"></div>

        <div ng-cloak class="user-edit-right content">
            <md-toolbar class="md-hue-2">
                <div class="md-toolbar-tools">
                    <h2 class="md-flex">Login-Daten &auml;ndern</h2>
                </div>
            </md-toolbar>
            <md-content flex layout-padding>	
                <md-input-container>
                    <input type="password" placeholder="Altes Passwort" ng-model="user.password.old" />
                </md-input-container>
            </md-content>
            <md-content flex layout-padding>	
                <md-input-container>
                    <input type="password" placeholder="Neues Passwort" ng-model="user.password.new" />
                </md-input-container>
                <md-input-container>
                    <input type="password" placeholder="Passwort bestätigen" ng-model="user.password.confirm" />
                </md-input-container>
            </md-content>
            <md-content flex layout-padding>
                <md-input-container class="md-block" flex-gt-sm>
                    <input placeholder="Aktuelle Email-Adresse" ng-model="user.email" type="email"  />
                </md-input-container>
            </md-content >
            <md-content flex layout-padding>
                <md-input-container class="md-block" flex-gt-sm>
                    <input placeholder="Neue Email-Adresse" ng-model="user.email.new" type="email" width="140px" />
                </md-input-container>

                <md-button class="md-raised md-primary button-to-right" ng-click="ChangePassword()"> Speichern </md-button>
            </md-content>
        </div>
    </div>
</div>
<!-- PROFILE END -->
