<!-- PROFILE START -->
<div class="user-edit" ng-controller="Ctrl_Profile" >
    <div class="profile-flex-container" flex>

        <div ng-cloak class="content user-edit-left" flex="50">
            <md-toolbar class="md-hue-2">
                <div class="md-toolbar-tools">
                    <h2 class="md-flex">Pers&ouml;nliche Daten</h2>
                </div>
            </md-toolbar>

            <md-content flex layout-padding >
                <md-input-container class="md-block">
                    <label> Ihre Kundennummer: {{ user.userID }} </label>
                    <input disabled>
                </md-input-container>		
            </md-content>
			
            <md-content flex layout-padding>
                <md-input-container>
                    <label>Vorname</label>
                    <input ng-model="user.name"/>
                </md-input-container>

                <md-input-container>
                    <label>Nachname</label>
                    <input ng-model="user.familyName"/>
                </md-input-container>
            </md-content>

            <md-content flex layout-padding>
                <md-input-container>
                    <input placeholder="Telefon" ng-model="user.phoneNr"/>
                </md-input-container>
                <md-input-container>
                    <input placeholder="Land" ng-model="user.address.country" />
                </md-input-container>
            </md-content>

            <md-content flex layout-padding>
                <md-input-container>
                    <input placeholder="Stadt" ng-model="user.address.city" />
                </md-input-container>
                <md-input-container>
                    <input placeholder="PLZ" ng-model="user.address.zip" />
                </md-input-container>
            </md-content>

            <md-content flex layout-padding >	
                <md-input-container>
                    <input placeholder="Strasse" ng-model="user.address.street" />
                </md-input-container>
                <md-input-container>
                    <input placeholder="Hausnummer" ng-model="user.address.number" />
                </md-input-container>
            </md-content>

            <md-content flex layout-padding>
                <md-input-container>
                    <input placeholder="Zusatz" ng-model="user.address.extra" />
                </md-input-container>
            </md-content>
			
            <md-content flex layout-padding>
                <md-button class="md-raised md-primary button-to-right" ng-click="Safe()"> Speichern </md-button>
                <md-button class="md-primary md-hue-1 button-to-right" ng-click="Cancel()"> Verwerfen </md-button>
            </md-content>
        </div>

        <div  flex="5"></div>

        <div flex="45" class="user-edit-right">
            <md-toolbar class="md-hue-2">
                <div class="md-toolbar-tools">
                    <h2 class="md-flex">Login-Daten</h2>
                </div>
            </md-toolbar>
            <md-content>
                <md-tabs md-dynamic-height md-border-bottom>
                    <md-tab label="Passwort">
                        <md-content flex layout-padding>	
                            <md-input-container>
                                <input type="password" placeholder="Altes Passwort" ng-model="user.password.current"/>
                            </md-input-container>
                        </md-content>

                        <md-content flex layout-padding>	
                            <md-input-container>
                                <input type="password" placeholder="Neues Passwort" ng-model="user.password.new" />
                            </md-input-container>
                            <md-input-container>
                                <input type="password" placeholder="Passwort bestätigen" ng-model="user.password.confirm" />
                            </md-input-container>
                        </md-content>

                        <md-content flex layout-padding>
                            <md-button class="md-raised md-primary button-to-right" ng-click="ChangePassword()"> Passwort &Auml;ndern </md-button>
                        </md-content>
                    </md-tab>
					
                    <md-tab label="Email">
                        <md-content flex layout-padding>
                            <md-input-container class="md-block" flex-gt-sm>
                                <input placeholder="Aktuelle Email-Adresse" ng-model="user.email.current" type="email" disabled/>
                            </md-input-container>
                        </md-content >
						
                        <md-content flex layout-padding>
                            <md-input-container class="md-block" flex-gt-sm>
                                <input placeholder="Neue Email-Adresse" ng-model="user.email.new" type="email" width="140px" />
                            </md-input-container>
                        </md-content >
						
                        <md-content flex layout-padding>
                            <md-input-container class="md-block" flex-gt-sm>
                                <input placeholder="Neue Email-Adresse best&auml;tigen" ng-model="user.email.confirm" type="email" width="140px" />
                            </md-input-container>
                            <md-button class="md-raised md-primary button-to-right" ng-click="ChangeEmail()"> Email &Auml;ndern </md-button>
                        </md-content>
                    </md-tab>
				</md-tabs>
			</md-content>
        </div>
    </div>
</div>
        <!-- PROFILE END -->
