<div class="login-form content">
    <md-toolbar class="md-hue-2">
        <div class="md-toolbar-tools">
            <h2 class="md-flex">Registrieren</h2>
        </div>
    </md-toolbar>


    <md-content flex layout-padding>
        <md-input-container>
            <label>Vorname</label>
            <input ng-model="register.name"/>
        </md-input-container>

        <md-input-container>
            <label>Nachname</label>
            <input ng-model="register.familyName"/>
        </md-input-container>
    </md-content>

    <md-content flex layout-padding>	
        <md-input-container>
            <label>Email</label>
            <input ng-model="register.email" type="email" />
        </md-input-container>

        <md-input-container>
            <label>Passwort</label>
            <input type="password" ng-model="register.password" />
        </md-input-container>
    </md-content>

    <md-content flex layout-padding>
        <md-button class="md-raised md-primary button-to-right" ng-click="Register()"> Register </md-button>
    </md-content>

</div>
