<div class="login-form" ng-controller="Ctrl_Login_Register" >
    <div ng-cloak class="content" flex="">
        <md-toolbar class="md-hue-2">
            <div class="md-toolbar-tools">
                <h2 class="md-flex">Willkommen</h2>
            </div>
        </md-toolbar>

        <md-content flex layout-padding >
            <label> Willkommen auf der e-Cruise.me Webseite!</label>

            <md-button class="md-raised md-primary button-to-right" ng-click="" href="login" > Login </md-button>
            <md-button class="md-raised md-primary button-to-right" ng-click="" href="register" > Registrieren </md-button>
        </md-content>
    </div>
</div>